{% load i18n %}

<div class="row">
    <!-- Email message contents -->
    {% csrf_token %}
    <!-- for form errors -->
    {% for hidden_field in message_form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}
    <!--Email subject-->
</div>
<div class="row m-0">
    <div class="col-md-12 p-0">
        {% include 'mailroom/forms/default_form_field.html' with field=message_form.subject %}
    </div>
</div>
<div class="row m-0 w-100" id="messageContainer" style="display:table;">
    <!--Email contents-->
    <div class="col-md-12 p-0 pt-20">
        {% include 'mailroom/forms/default_form_field.html' with field=message_form.message_text %}
    </div>
</div>
<div class="row m-0">
    <div class="col-md-12 m-0 p-0 pt-20">
        <button type="submit" form="mailroom_form" class="btn btn-danger ma-submit-btn pull-right">
            {% if mail_type == "direct" %}{% trans "Send" %}{% else %}{% trans "Save" %}{% endif %}</button>
    </div>
</div>
