{% load staticfiles %}
{% load i18n %}

<!-- Sidebar navigation-->
<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li class="nav-label">Home</li>
        <li> <a  href="{% url namespace|add:':dashboard_index' %}" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">{% trans "nav_dashboard"%}</span></a></li>
        <li class="nav-label">Messaging</li>
        <li> <a class="has-arrow  " data-toggle="collapse" href="#messaging" aria-expanded="false"><i class="fa fa-comments"></i><span class="hide-menu">{% trans "nav_message"%}</span></a>
            <ul id="messaging" aria-expanded="false" class="collapse">
                <li><a href="{% url namespace|add:':block_message' %}">{% trans "lbl_sequence_message"%}</a></li>
                <li><a href="{% url namespace|add:':manual_message_list' %}">{% trans "lbl_manual_message"%}</a></li>
                <li><a href="{% url namespace|add:':auto_message_list' %}">{% trans "lbl_auto_message"%}</a></li>
                <li><a href="{% url namespace|add:':auto_message_history_list' %}">{% trans "nav_message_history"%}</a></li>
            </ul>
        </li>

        <li class="nav-label">Features</li>
        <li> <a  href="{% url namespace|add:':user_list' %}" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">{% trans "lbl_users"%}</span></a></li>
        <li> <a class="has-arrow  " data-toggle="collapse" href="#statistics" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">{% trans "nav_analytics"%}</span></a>
            <ul id="statistics" aria-expanded="false" class="collapse">
                <li><a href="https://admin-official.line.me/" target="__blank">LINE</a></li>
                <li><a href="https://www.facebook.com/analytics/" target="__blank">Facebook Messenger</a></li>
            </ul>
        </li>
        <li> <a class="has-arrow  " data-toggle="collapse" href="#settings" aria-expanded="false"><i class="fa fa-cog"></i><span class="hide-menu">{% trans "lbl_settings"%}</span></a>
            <ul id="settings" aria-expanded="false" class="collapse">
                <li><a href="{% url namespace|add:':setting_tag_index' %}">{% trans "lbl_tag"%}</a></li>
                <li><a href="{% url namespace|add:':setting_vendor_index' %}">{% trans "nav_account"%}</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- End Sidebar navigation -->