# container_commands:
#   01_:
#     command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py makemigrations --merge"
#     leader_only: true
#   02_:
#     command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py makemigrations"
#     leader_only: true
#   03_:
#     command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"
#     leader_only: true
