container_commands:
  # 01_:
  #   command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --merge"
  #   leader_only: true
  # 02_:
  #   command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"
  #   leader_only: true
  03_:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
