commands:
  set_time_zone1:
    command: ln -f -s /usr/share/zoneinfo/Japan /etc/localtime
  set_time_zone2:
    command: sed -i -e 's/"UTC"/"Asia\/Tokyo"/g' /etc/sysconfig/clock
  set_time_zone3:
    command: sed -i -e 's/true/false/g' /etc/sysconfig/clock
  set_time_zone4:
    command: service rsyslog restart
  set_language:
    command: sed -i -e 's/en_US.UTF-8/ja_JP.UTF-8/g' /etc/sysconfig/i18n

