{% extends base_template %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                {% trans "User Profile" %}
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-around">
                    {% if user.profile_pic_url %}
                    <img class="img-fluid img-thumbnail rounded-circle" src="{{ user.profile_pic_url }}" alt="user profile picture"/>
                    {% else %}
                    <img class="img-fluid img-thumbnail rounded-circle" src="https://api.adorable.io/avatars/100/{{ user.id }}" alt="user profile picture"/>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        {% trans "Name" %}:
                    </div>
                    <div >
                        {{ user.get_full_name }}
                    </div>

                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        {% trans "Gender" %}:
                    </div>
                    {% if user.gender == "Male" %}{% trans 'Male' %}{% elif user.gender == "Female" %}{% trans 'Female' %}{% else %}-{% endif %}
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        {% trans "Birthday" %}:
                    </div>
                    {{ user.birth_day|default:"-" }}
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        {% trans "Email" %}:
                    </div>
                    {{ user.email|default:"-" }}
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        {% trans "Join date" %}:
                    </div>
                    {{ user.regist_dt|default:"-" }}
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                {% trans "Chat History" %}
            </div>
            <div id="chat_history" class="card-body scrollable" style="max-height:75vh;">
                {% include 'messageflow/user/log_lines.html' with user=user loglines=loglines %}
            </div>
            <div class="card p-5">
                <textarea id="message-input" class="form-control" placeholder='{% trans "Please type your message here." %}'></textarea>
                <div class="d-flex justify-content-end pt-5">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">{% trans "Send" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
    document.addEventListener('keyup', sendMessage);
    setInterval(checkUpdates, 60*1000);

    function checkUpdates() {
        $.ajax({
            url: '{% url namespace|add:':messageflow:update_message' %}',
            data: { 'user_id': {{ user.id }}, },
            dataType: 'json',
            success: function (data) {
              var html_template = data.template;
              document.getElementById('chat_history').innerHTML = html_template;
            }
        });
    }

    function sendMessage(event) {
        if (event.defaultPrevented) {
            return;
        }

        var key = event.key || event.keyCode;

        if (key === 'Enter' || key === 13) {
            let messageInput = document.getElementById('message-input');
            let message = messageInput.value;
            let messageContainer = document.getElementById('chat_history_messages');
            if (message != '' && message.length > 1) {
                console.log('this is the message!', message);
                // clear input and send
                messageInput.value = ''

                $.ajax({
                url: '{% url namespace|add:':messageflow:send_direct_message' %}',
                method:'POST',
                data: {
                    'user_id': {{ user.id }},
                    'message': message,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                dataType: 'json',
                success: function (data) {
                   checkUpdates();
                }
             });
            }
        }
    }
</script>
{% endblock %}